#fondos{
	width: 100%;
	height: 100vh;
	background-image: url('../img/Landscape.jpg');
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: column;
}
.gatito{
	margin-bottom: 2em;
}